/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: #2C3F59;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* body */

body {
    background-image: url(../pics/backgroundpic.png);
    height: auto;
    width: auto;
    background-repeat: no-repeat;
}


/* Container 
#container {
    width: auto;
    margin: auto;
    clear: both;
}*/

#container > header {
    border: 1px transparent;
    background-image: url(../pics/aa.png);
    background-repeat: no-repeat;
    margin: auto;
    background-position: center;
    height: 150px;
    width: 807px;
}


/* headings h1-h6 */

h2 {
    vertical-align: text-bottom;
    text-align: center;
    position: relative;
    font-size: 32px;
    top: 80px;
}

h1 {
    text-align: center;
    font-size: 36px;
}

h3 {
    font-family: serif;
    font-size: 28px;
    text-align: center;
    max-width: 500px;
    font-weight: bold;
}

h4 {
    font-family: serif;
    font-size: 22px;
}


/* #container {
    width: auto;
    margin: auto;
    clear: both;
} */


/* main */

main {
    text-align: center;
    background-position: center;
    margin: 1px;
    float: left;
    width: 807px;
    border: 1px solid;
    background-color: #5B597A;
}

main article {
    float: left;
}

main article #video video {
    width: 100%;
}

main article #video {
    float: left;
    width: 90%;
}

div main article article.profilfoto img {
    width: 100px;
    height: 150px;
    float: right;
}


/* navigation */

nav {
    background-color: #373737;
    border: 1px transparent;
    width: 28.75%;
    float: left;
}

nav ul li a {
    color: #009CA6;
    text-align: left;
    display: block;
}

nav a:hover {
    background-color: #FF704D;
    display: block;
}


/* p tags */

p {
    font-family: serif;
    font-size: 16px;
    max-width: 500px;
    text-align: center;
    line-height: 20px;
}

p strong {
    font-weight: bold;
}


/* articles */

#text {
    text-align: center;
    text-size: 20px;
    margin: 20px;
    max-width: 650px;
}

article {
    margin-top: 50px;
    width: 650px;
}

#labarticle {
    text-align: left;
    float: left;
}

strong {
    font-weight: bold;
}


/* everything in form */


/* border för varje tr td*/

#formleft {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
    max-width: 650px;
}

#formulär {
    width: 180px;
}

legend {
    font-weight: bold;
}

#Laborationsuppgift1 {
    float: left;
}

table {
    border: 1px solid black;
}

thead {
    border: 1px solid black;
}

tr td {
    border: 1px solid black;
}


/* aside*/

aside a {
    color: #009CA6;
    float: right;
    font-size: 16px;
    width: 200px;
    height: 20px;
}

aside img {
    width: 100px;
    height: 150px;
}


/* footer */

#lastfooter {
    color: white;
}

#pupp {
    font-size: 20px;
}

#pleft {
    text-align: left;
}

#lab {
    width: 90px;
    margin: 30px;
}